<!doctype html>
<html lang="pl" ng-app="GraveApp">
  <head>
    <meta charset="UTF-8">
    <title>Wyszukiwarka grobów na OSM</title>    
    <link rel="stylesheet" href="lib/leaflet/leaflet.css" />
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap/bootstrap-additions.min.css">
    <link rel="stylesheet" href="lib/angular-strap/angular-motion.min.css">
    <link rel="stylesheet" href="style.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Oxygen:400,700&subset=latin,latin-ext' type='text/css'>
    <link rel="shortcut icon" href="img/favicon.png" />
  </head>
  <body ng-controller="MapCtrl">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-inner">
          <a class="navbar-brand" href=".">OpenStreetMap Grave Finder<br><i>(Wyszukiwarka grobów na <abbr title="OpenStreetMap">OSM)</i></abbr></a>
          <a class="btn btn-primary btn-sm" ng-click="loadData()">Load graves from area<br><i>Załaduj groby z obszaru</i></a>
          <span ng-show="busy" style="margin-left: 10px;">
            <i class="fa fa-refresh fa-spin" backgroung=red></i> Loading...
          </span>
          <clear>
          <div class="absolute-right">
             <div class="navbar-choice">
             <select id="language" onchange="ChangeLanguage(this.value);" >
                  <option class="SelectItem" value="pl" selected>Polski</option>
                  <option class="SelectItem" value="en">English</option>
                </select>
                <span class="btn-primary">
                  <label for="language">Language</label>
                 </span>
            </div>

            <form ng-submit="search()">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="searchText" placeholder="place">
                <span class="input-group-btn">
                  <input type="submit" id="submit" class="btn btn-primary" value="Search by place" /><br>
                </span>
              </div>
            </form>
            <form ng-submit="searchGraves()">
            <div class="input-group">
               <input id="searchName" type="text" class="form-control" ng-model="searchGrave.nameText" placeholder="name">
                  <span class="input-group-btn">
               <input type="submit" id="submit" class="btn btn-primary" value="Search by name" />
                  </span>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
    <div class="map-container">
      <div id="map"></div>
    </div>
     <div id="footer">
      <div class="container">
        <div class="text-muted pull-left"><small>© 2014</small> <a href="https://github.com/yarl">Yarl</a>. 2024 <a href="https://github.com/dotevo">Dotevo</a>. 2024 <a href="https://github.com/wlakom">Wlakom</a> & contributors. Podkład mapowy autorstwa OpenStreetMap, lic. <a href="http://www.openstreetmap.org/copyright">CC-By-SA</a>.</div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="lib/leaflet/leaflet.js"></script>
    <script src="lib/leaflet-hash.js"></script>

    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-animate.min.js"></script>
    <script src="lib/angular-strap/angular-strap.min.js"></script>
    <script src="lib/angular-strap/angular-strap.tpl.min.js"></script>

    <script src="app.js"></script>
  </body>
</html>
