html, body, .map-container {
  height: 100%;
  overflow: hidden;
 }

a:hover {
  text-decoration: none;
}

#map {
  width: 100%;
  height: calc(100% - 90px);
  margin-top: 100px;
}

.leaflet-container {
  background: white;
}

.navbar .navbar-brand,  .navbar .navbar-inner {
  padding:30px 30px 10px 15px;
  background: #e0e0f7;
  color: red;
}

.navbar a.navbar-brand {
  padding: 5px 200px;
  line-height: 20px;
  height: 80px;
  color: #555;
  font-weight: bold;
  /* letter-spacing: 1px; */
  font-size: 19px;
}

.absolute-right {
  position: absolute;
  right: 17px;
  top: 6px;
  width: 330px;
}

.btn-primary {
  background: #4682B4;
  width: 150px;
}

.navbar-fixed-top {
  background: #e0e0f7;
}

.navbar-choice {
  line-height: 20px;
  color: black;
  margin-left: 200px;
}

/**
 ASIDE
**/

.aside {
  width: 350px;
  margin-top: 110px;
  background-color: #e0e0f7;
  padding: 5px;
  overflow: scroll;
}

.aside .aside-dialog .aside-body {
  padding: 15px;
}

.aside-body h3, .aside-body h4 {
  margin: 15px 0 5px;
}

.aside-body h3 a, .aside-body h4 a {
/*  font-size: 85%;
  color: #000;*/
}

.aside-body .items div {
  padding: 2px 4px;
  background-color: red;
}

.aside-body .items div:hover {
  cursor: pointer;
  background-color: #e7e7e7;
}

.aside .aside-dialog .aside-header {
  background: #5a2ce2;
  color: 	white;
  height: 30px;
  padding: 5px;
  width: 300px;
}

.aside .aside-dialog .aside-header a {
  background: white;
  margin-right: 5px;
}

.aside .aside-dialog .aside-header h3 {
  margin: 0;
  display: inline-block;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 60px);
}

.aside .aside-dialog .aside-header .close {
  padding: 0;
  margin-right: 0;
  margin-top: -5px;
}

.alert {
  width: 300px;
}

.modal {
  position: fixed;
  top: 10%;
  left: 18.5%;
  width: 20%;
  height: fit-content;
  margin-left: -10%;
  background: #fff;
  border-radius: 20px;
  overflow: auto;
  padding: 10px;
}

.modal .close {
  padding: 0;
  margin-right: 20px;
  margin-top: -5px;
}


#footer {
  height: 40px;
  width: 100%;
  background-color: rgba(255,255,255,.7);
  position: sticky;
  bottom: 0;
}

#footer .container > div {
  padding-top: 11px;
}


.tooltip {
  font-size:12px;
}
